*.lib
*.bmp
*.png
*.xml
dlls
*.ico
*.txt
*.orig
*.suo
*.pdb
*.cache
*.licx
.svn
bin
obj
*.sdf
*.Cache
*.force
*.ipch
*.vcxproj*
Src/packages
packages
Internal.Common
*.exe
*.dll
*.pak
TestResults/*
*.vsp
*.psess
*.csproj.user
*.opensdf
sys$command
*.jar
*.cmd
data
Release
jslib
buildlib
schemas